# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment folder
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings (PyCharm, VSCode, etc.)
.vscode/
.idea/

# MacOS-specific files (if you're on Mac)
.DS_Store

# Windows-specific files
Thumbs.db

# Log files
*.log

# Dependencies
requirements.txt

# Other temporary or cache files
*.sqlite
*.bak
*.swp
