# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log

# Database files
*.sqlite3

# Pytest
.cache/

# Coverage directory
.coverage

# MyPy
.mypy_cache/
